/*
        Zen Garden Ocean Theme style guide
*/

$light-blue: #E8F8FC; 
$dark-blue: #147083; 
$accent-blue: #60D1E7;
$primaryAccent: #9fd6e0;
$primary-font-color: #657786; 
$secondary-font-color: #ffffff; 