/*
        Zen Garden Ocean Theme style guide

        Group members: 

            BriAnna Marsh
            Paula Spitale 
            Isabel Aranguren Lares

 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
h1, h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 0 10%;
  margin: 0;
  color: #28292b;
}

h3 {
  font-size: 24px;
  color: #0f4550;
}

body {
  font-family: "Quattrocento", serif;
  font-size: 14px;
}

p {
  color: #3b3b3b;
  margin: 0.75em 0;
  line-height: 2;
}

/*
        Zen Garden Ocean Theme style guide
*/
body {
  background: #E8F8FC;
}

/* base CSS */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.page-wrapper {
  display: flex;
  flex-flow: wrap;
}

html, body {
  margin: 0 auto;
}

body {
  font-family: "Quattrocento", serif;
  font-size: 70%;
}

abbr {
  border: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.01em;
}

header {
  height: 230px;
  padding: 50px 0 20px 0;
  background: #2d6360 50% 0 url("../img/sea.jpg") no-repeat;
  /* old IE fallback */
  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url("../img/sea.jpg");
  background-repeat: repeat, repeat, repeat, repeat-y;
  background-size: contain;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.summary p {
  font-size: 0.9em;
}

h1 {
  padding-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 3.2em;
  color: #1e2d3a;
  text-transform: uppercase;
}

h2::before {
  content: " ";
  padding: 50px;
}

.page-wrapper {
  position: relative;
}

.preamble {
  width: 80%;
  margin: 0 auto;
}

.summary {
  padding-top: 2em;
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #9fd6e0;
}

.summary :last-child {
  line-height: 1rem;
}

.explanation h3 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  padding: 1em 0;
}

.benefits {
  text-align: center;
}

.benefits p {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 1em 0;
}

.supporting h3, .supporting p, div.design-selection, div.zen-resources {
  margin-top: 3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #2d6360;
}

div.design-selection {
  padding: 3em 0;
  margin-top: 3em;
}

div.zen-resources {
  padding: 3em 0;
  margin-top: 3em;
}

div.participation {
  padding: 3em 0;
  margin-top: 3em;
}

div.benefits {
  padding-bottom: 3em;
  margin-bottom: 3em;
}

div.participation h3, div.benefits h3, div.design-selection, div.zen-resources {
  margin-top: 0;
}

div.participation p, div.benefits p, div.design-selection, div.zen-resources {
  margin-bottom: 0;
}

/* credits block */
.requirements p:nth-child(5) {
  padding-bottom: 2em;
}

.supporting .requirements {
  float: none;
  clear: both;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.supporting .requirements a {
  text-decoration: none;
}

.supporting .requirements a:hover, .supporting .requirements a:focus {
  text-decoration: underline;
}

.supporting .requirements h3 {
  padding-top: 0;
}

/* design selection block */
.design-selection li:nth-child(2n+1), .zen-resources li:nth-child(2n+1) {
  clear: left;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.design-selection li, .zen-resources li {
  float: left;
  width: 50%;
  padding: 1.5em 10%;
  border-top: solid 1px #d9e3dc;
  color: #c0cac3;
  font-style: italic;
}

/* main footer */
footer {
  clear: both;
  padding: 3em 10%;
  color: #fff;
  background: #72b2b8;
  text-align: center;
}

/* archives navigation */
.design-archives {
  position: absolute;
  top: 160px;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
}

.design-archives h3 {
  display: none;
}

.design-archives ul {
  margin: 0;
}

.design-archives li {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}

.design-archives li.viewall {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 71px;
  line-height: 50px;
}

.previous, .next {
  left: 0;
  z-index: 3;
}

.next {
  left: auto;
  right: 0;
}

.design-archives a, .design-archives a:visited {
  color: rgba(0, 0, 0, 0.65);
  font-size: 22px;
}

.design-archives a:hover, .design-archives a:focus {
  color: #fff;
}

.design-archives .previous a, .design-archives .next a {
  display: block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}

.design-archives .viewall a {
  z-index: 2;
  width: 100%;
  min-height: 70px;
  padding: 12px 0 0 0;
  text-align: center;
}

.design-archives a::before {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 44px;
  /* mid-res CSS */
}
@media only screen and (max-width: 500px) {
  .design-archives a::before header {
    height: 250px;
    padding-top: 0;
  }
  .design-archives a::before h1::before {
    display: block;
    left: 50%;
    width: 50px;
    height: 50px;
  }
  .design-archives a::before h2::before {
    padding: 0;
  }
  .design-archives a::before footer a {
    margin: 0 0.5em;
  }
  .design-archives a::before .design-selection li, .design-archives a::before .zen-resources li {
    padding: 1em 5%;
  }
  .design-archives a::before footer a {
    margin: 0 0.5em;
  }
}
@media only screen and (min-width: 1150px) {
 
  .design-archives a::before footer a {
    width: 76px;
    height: 76px;
    padding: 76px 0 0 0;
    margin: 0 3em;
  }
  .design-archives a::before footer a::before {
    font-size: 72px;
  }
}

/*# sourceMappingURL=styles.css.map */
