@import 'partials/_typography.scss';
@import 'partials/_colors.scss';

.page-wrapper{
    display: flex;
    flex-flow: wrap;
}

header {
  padding: 20px;
  height: 15vh;
  text-align: center;
  font-family: $heading-font;
}

.summary {
  display: block;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: $primaryAccent;
}

.summary :last-child {
  line-height: 5px;    
}

// main paragrahs
.preamble, .participation {
    width: 70%;
    margin-left: 50px;
    padding: 3%;
}

.explanation h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    border-bottom: 3px solid $primary-font-color;
    padding-bottom: 5px;
}

.design-selection {
    align-self: center;
}

.benefits{
    text-align: center;
    
}

.benefits h3 {
    font-size: 150%;
}

.benefits p {
    border-top: 3px solid $primary-font-color;
    border-bottom: 3px solid $primary-font-color;
    padding: 1em 0;
}

.requirements {
    margin-left: 15%;
}


abbr {
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

.page-wrapper {
    position: relative;
  }
  
.summary, .explanation, .benefits {
    width: 90%;
    margin: 0 auto;
  }

